<div class="bookmarks mode" ng-controller="bookmarks">
<h2 class="nav">Bookmarks</h2>
<div class="bookmarks-content gray-cnt" ng-class="{open : bookmark_open}">
    <ul ng-init="items = {{{bookmarks_data_str}}}">
        <li class="fclear" ng-repeat="item in items">
            <a href="javascript:" bmid="{%item.newsid%}" ng-click="removeBookmark($index)">x</a><p>{%item.news_headline%}</p>
        </li>
    </ul>
</div>
<a href="javascript:" class="bookmarks-more" ng-show="bookmark_more" ng-click="more($event.target)">More...</a>
    {{#config.isDebug}}
    <div>bookmarks : <span >{%items%}</span></div>
    {{/config.isDebug}}
</div>